<h1>SwfBinaries#show</h1>

<object data="<%= do_send_swf_binary_url(id: @id) %>" type="application/x-shockwave-flash"
 width="320" height="240">
<param name="src" value="flash.swf">
<param name="autostart" value="true">
<param name="loop" value="false">
</object>