<h1>swf リスト</h1>

<%= link_to '新規作成', new_swf_path(swf_series_id: @swf_series.id), class: "btn btn-primary" %>
<table class="table table-striped table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>シリーズ</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @swfs.each do |swf| %>
      <tr>
        <td><%= link_to "#{swf.id}", swf %></td>
        <td><%= swf_series_name_link(swf.swf_series) %></td>
        <td><%= link_to "編集", edit_swf_series_path(swf.swf_series) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
