<h1>swf リスト</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @some_series.each do |series| %>
  <tr>
    <td><%= link_to "#{series.name}", series %></td>
    <td><%= link_to "編集", edit_swf_series_path(series) %></td>
    <td><%#= link_to 'Destroy', series, method: :delete, data: { confirm: '削除しますか？' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '新規作成', new_swf_series_path %>